body {
    background: grey;
    display: flex;
}

button {
    padding: 5px;
    background: gold;
}

.content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin: 150px 25px;
    background: whitesmoke;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    
    min-width: 720px;
    max-width: 720px;
    padding: 100px;
}

.grid-div {
    flex-shrink: 0;
    background-color: white;
}

.square-size {
    background: white;
    display: inline;
    padding: 5px;
}